Source: aprsdigi
Maintainer: Debian Hamradio Maintainers <debian-hams@lists.debian.org> 
Uploaders: Iain R. Learmonth <irl@fsfe.org>,
           Hamish Moffat <hamish@debian.org>
Section: hamradio
Priority: optional
Build-Depends: libax25-dev,
               debhelper (>= 9),
               man2html-base,
               dh-autoreconf,
               groff
Standards-Version: 3.9.6
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-hamradio/aprsdigi.git
Vcs-Git: http://anonscm.debian.org/git/pkg-hamradio/aprsdigi.git
Homepage: https://github.com/n2ygk/aprsdigi/

Package: aprsdigi
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Suggests: ax25-tools,
          xastir,
          aprsd
Description: digipeater for APRS
 aprsdigi is a repeater for the Automatic Position Reporting System, APRS.
 It also includes aprsmon, a one-way gateway to APRS on TCP/IP.
